@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caprasimo&display=swap");
.login-main {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.jpg");
  background-size: cover;
  background-position: 0%;
  gap: 48px;
}

.login-form {
  width: 400px;
  min-height: 250px;
  padding: 30px 40px;

  background: rgba(128, 127, 127, 0.404);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.login-name {
  font-size: 48px;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  font-family: "Caprasimo", cursive;
  color: rgb(148, 37, 37);
}
.signup {
  background-color: rgb(129, 129, 129);
  width: 4rem;
  text-align: center;
  width: 5.5rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.signup:hover {
  background-color: rgb(150, 148, 148);
}

.input-group input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(107, 107, 107);
  height: 2rem;
  padding-left: 1rem;
}

.choose-operation {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-2 {
  font-weight: bolder;
  border: 1px solid;
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.btn-2:hover {
  background-color: rgb(107, 107, 107);
}
