.modal-close {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 19rem;
  top: 0.5rem;
  border-radius: 100%;
  background-color: #393e466b;
  color: white;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}
.universal-modal-background {
  width: 40rem;
  height: 30rem;
  background-color: rgba(221, 223, 226, 0.637);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  display: flex;
  z-index: 100;
}

.cross-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.universal-modal-close {
  position: absolute;
  display: flex;
  height: 2rem;
  width: 2rem;
  left: 37.4rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: 0.5rem;
  background-color: #393e467e;

  cursor: pointer;
}

.modal-background {
  height: 30rem;
  background-color: #ffffffc7;
  position: absolute;
  /* top: 55rem;
  left: 8rem; */
  top: 265%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.modal-img {
  width: 20rem;
  object-fit: cover;
  height: auto;
  margin: 10px;
}
.prod-detail {
  /* width: 47rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-title {
  font-size: 2.4rem;
  font-family: "Lora", serif;
  color: #222831;
  text-align: start;
  font-weight: bold;
  margin-top: 1rem;
}
.modal-price {
  height: 2.8rem;
  width: 12rem;
  /* border: 1px solid #222831; */
  border-radius: 0.6rem;
  color: rgb(17, 2, 2);
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1rem;

  /* margin-left: 5rem; */
}
.modal-icon {
  color: #00adb5;
}
.iconss {
  display: flex;
  align-items: flex-start;
  padding-left: 5.2rem;
  padding-top: 1rem;
}
.ic {
  padding-left: 1rem;
  color: white;
}

.color2 {
  padding-left: 1rem;
}
.clr1 {
  color: white;
}
.clr2 {
  color: black;
}
.color-container {
  display: flex;
  padding-left: 5.2rem;
}
.about {
  color: white;
  padding-top: 1.8rem;
  padding-left: 5rem;
  padding-right: 6rem;
  text-align: start;
}
.colors {
  color: white;
  text-align: start;
  font-size: 1.2rem;
}
.quantity {
  height: 2.4rem;
  width: 10rem;
  border: 1px solid #222831;
  border-radius: 0.6rem;
  color: white;

  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  align-items: center;
  /* margin-left: 5rem;
  margin-top: 1rem; */
}
.quan-count {
  /* padding-top: 0.2rem; */
  font-size: 1.4rem;
  color: #222831;
}
.minus {
  /* padding-top: 0.7rem; */
  color: #087f5b;
  cursor: pointer;
}
.plus {
  /* padding-top: 0.7rem; */
  color: #087f5b;
  cursor: pointer;
}

.checkout {
  width: 9rem;
  background-color: #087f5b;
  font-size: 1.2rem;
  color: white;
  /* padding-top: 0.4rem; */
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  text-align: center;
  height: 3.4rem;
  display: grid;
  align-items: center;
  /* border: 1px solid #222831; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.checkout:hover {
  background-color: #076146;
  cursor: pointer;
  border: none;
  color: #fafafa;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  opacity: 70%;
  z-index: 99;
}

.payment-modal-input {
  color: #424141 !important;
  width: 100% !important;
  padding: 0.938rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #393e46;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #c8c9cc !important;
}
.payment-modal-update-btn {
  margin-top: 1rem !important;
  /* width: 100% !important; */
  text-align: center;
  padding: 0.4rem;
  border-radius: 10px;
  background-color: #087f5b !important;
  color: #eeeeee !important;
  font-weight: bold !important;
  font-size: 20px !important;
  border: 1px solid #222831 !important;
  width: 8rem;
}

.payment-modal-update-btn:hover {
  background-color: #065f44 !important;
}
