.nav-bar-main {
  background-color: #cccccc6c;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 36px;
  gap: 10px;
  padding-right: 36px;
}
.button-navbar {
  border: 1px solid rgb(120, 120, 121);
  width: 6.5rem;
  height: 2rem;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-navbar:hover {
  background-color: #cbc9c9;
}
.option-bar {
  display: flex;
  gap: 10px;
}

.link {
  color: rgb(88, 84, 84);
  text-decoration: none;
}

.sign-in-btn {
  background-color: #087f5b;
}
.sign-in-btn:hover {
  background-color: #099268;
}

.ecommerce-logo {
  /* font-family: "inter", sans-serif; */
  font-size: 1.6rem;
  color: #087f5b;
  font-weight: bold;
}
